.favouriteContainer {
  transition: all 0.2s ease-in-out;
}

.favouriteContainer:hover .favouriteText {
  color: #FFDD43 !important;
}

.favouriteContainer:hover svg {
  color: #FFDD43;
}

.favouriteText {
  transition: color 0.2s ease-in-out;
}