.gridCardWrapper {
    position: relative;
}

.gridCardContainer {
    position: relative;
    width: 326px;
    height: 189px;
    border: 1px solid #63C779;
    border-radius: 24px;
    padding: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    z-index: 1;
}

.gridCardContainerDeath {
    position: relative;
    width: 326px;
    height: 189px;
    border: 1px solid #F52A2A;
    border-radius: 24px;
    padding: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #222222;
    overflow: hidden;
    z-index: 1;
}

.BackgroundBlock {
    position: absolute;
    width: 326px;
    height: 189px;
    border-radius: 24px;
    background-color: #63C779;
    transform: translate(5px, -185px);
    z-index: -1;
}

.BackgroundBlockDeath {
    position: absolute;
    width: 326px;
    height: 189px;
    border-radius: 24px;
    background-color: #F52A2A;
    transform: translate(5px, -185px);
    z-index: -1;
}


.gridCardTitle {
    position: relative;
    top: -5px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    margin-bottom: -12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.gridCardTags {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}


.gridCardContent {
    position: absolute;
    font-size: 1.2rem;
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    bottom: 40px;
    line-height: 1.2;
}

.gridCardRating {
    position: absolute;
    bottom: 8px;
}